Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 Modes
        - Dev
            Dev server, SourceMaps, Eslint, Not Minified JS & CSS
        - Prod
            Minified Code
Git

    Production
        1.0.0

    Development
        1.0.2



https://github.com/nikkey78/excel1.git

git commands:

echo "# excel1" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/nikkey78/excel1.git
git push -u origin main


git checkout -b "webpack"

git add .
git commit -m "some message"
git push -u origin webpack

git checkout main
git pull 


